div {
  margin-left: 0%;
  margin-right: 0%;
}

h1 {
  border-width: 10px;
  border-bottom: 10px;
  border-style: dashed;
  border-color: blue;
}

header {
  background-image: linear-gradient(black, yellow);
}

body {
  background-image: linear-gradient(green, white);
}

p {
  height: 20px;
  width: 20px;
}